$white_color: #ffffff;
$black_color: #000000;
$red_alert_color: #970d0a;

$grey_color01: #aeaeae;
$grey_color02: #929292;
$grey_color03: #eeeeee;
$grey_color04: #f7f7f7;
$grey_color05: #bbbbbb;
$grey_color06: #f3f3f3;
$grey_color07: #eaeaea;
$grey_color08: #d0d0d0;
$grey_color09: #9e9e9e;
$grey_color10: #c8c8c8;
$grey_color11: #e5e5e5;
$grey_color12: #818181;
$grey_color13: #cdcdcd;
$grey_color14: #ededed;
$grey_color15: #f4f4f4;
$grey_color16: #d9d9d9;
$grey_color17: #303030;
$grey_color18: #c5c5c5;

$main_color01: #8b8350;
$main_color02: #aa5f24;
$main_color03: #a2ad97;
$main_color04: #572d0d;
$main_color05: #414240;

$transparent: rgba(255, 255, 255, 0);

$contrast_yellow: rgb(255, 255, 0);
