.pagination {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 24px auto 32px;
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    &__prev,
    &__next {
      display: flex;
      margin: 0 13px;
      text-decoration: none;
      p {
        display: flex;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        text-align: left;
        text-decoration: underline;
        color: $grey_color09;
      }
      &:hover {
        p {
          text-decoration: none;
        }
      }
    }
    &__slot {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 6px;
      width: max-content;
      height: 28px;
      border: 1px solid $grey_color11;
      text-decoration: none;
      border-radius: 5px;
      padding: 4px 10px;
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        text-align: center;
        color: $grey_color09;
      }
      &.active,
      &:hover {
        background-color: $grey_color12;
        p {
          color: $white_color;
        }
      }
    }
    &__dots {
      text-decoration: none;
      p {
        display: flex;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        text-align: center;
        color: $grey_color09;
        margin: 0 13px;
      }
    }
  }
}

@media (max-width: 1440px) {
  .pagination {
    padding: 0 20px;
  }
}

@media (max-width: 760px) {
  .pagination {
    &-wrapper {
      &__slot {
        margin-bottom: 16px;
      }
      &__prev,
      &__next {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 0 16px 0;
      }
    }
  }
}
