.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 162px;
  z-index: 9999999999999;
  &-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    z-index: 3;
    &-top {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100px;
      background-color: $white_color;
      padding: 0 72px;
      z-index: 3;
      &__logo {
        user-select: none;
        a {
          text-decoration: none;
          img {
            object-fit: contain;
            height: 68px;
            width: auto;
          }
        }
      }
      &-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &__text-sizes,
        &__contrast {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          background-color: $main_color03;
          user-select: none;
          margin: 0 10px 0 0;
          &:hover {
            .icon {
              img {
                filter: invert(1);
              }
            }
          }
          .icon {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            cursor: pointer;
            text-decoration: none;
            img {
              display: flex;
              object-fit: contain;
            }
          }
        }
        &__buttons {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          user-select: none;
          .buttons-text {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.36px;
            text-align: left;
            color: $grey_color02;
            margin: 0 10px 0 0;
            user-select: none;
          }
          .header-btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: max-content;
            height: 40px;
            text-decoration: none;
            padding: 12px 16px;
            background-color: $main_color05;
            margin: 0 10px 0 0;
            transition: 0.3s;
            user-select: none;
            &:hover {
              background-color: $main_color03;
            }
            p {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              font-size: 14px;
              font-weight: 600;
              line-height: 16.94px;
              text-align: left;
              text-transform: capitalize;
              color: $white_color;
              margin: 0;
            }
          }
        }
      }
    }
    &-bottom {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $main_color01;
      width: 100%;
      height: 62px;
      padding: 0 72px;
      z-index: 2;
      &::before {
        position: absolute;
        top: 0;
        left: -100vw;
        content: "";
        display: flex;
        width: 200vw;
        height: 62px;
        background-color: $main_color01;
        z-index: -1;
      }
      .header-nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 62px;
        width: 100%;
        background-color: $main_color01;
        &-el {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          height: 42px;
          margin: 0 24px 0 0;
          cursor: pointer;
          user-select: none;
          > a {
            font-size: 16px;
            font-weight: 300;
            line-height: 19.36px;
            text-align: left;
            color: $white_color;
            margin: 0;
            text-decoration: none;
            cursor: pointer;
            &:hover {
              text-shadow: 0.4px 0px 0.1px, -0.4px 0px 0.1px;
            }
          }
          p {
            font-size: 16px;
            font-weight: 300;
            line-height: 19.36px;
            text-align: left;
            color: $white_color;
            margin: 0;
            cursor: pointer;
            white-space: pre;
            &:hover {
              text-shadow: 0.4px 0px 0.1px, -0.4px 0px 0.1px;
            }
          }
          img {
            display: flex;
            margin: 0 10px 0 10px;
            object-fit: contain;
            & + .header-nav-el-wrapper {
              display: none;
              flex-direction: row;
              position: absolute;
              top: 62px;
              left: -72px;
              background-color: $main_color01;
              width: 1440px;
              padding: 48px 72px 32px 72px;
              z-index: 2;
            }
          }
          .header-nav-el-wrapper__col {
            display: flex;
            flex-direction: column;
            width: 25%;
            height: 100%;
            h3 {
              font-size: 16px;
              font-weight: 500;
              line-height: 19.36px;
              text-align: left;
              color: $main_color04;
              margin: 0 0 16px 0;
              text-transform: uppercase;
              > a {
                font-size: 16px;
                font-weight: 500;
                line-height: 19.36px;
                text-align: left;
                color: $main_color04;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                  text-shadow: 0.4px 0px 0.1px, -0.4px 0px 0.1px;
                }
                &.short-header-link {
                  display: flex;
                  width: 240px;
                }
              }
            }
            > a {
              font-size: 16px;
              font-weight: 300;
              line-height: 19.36px;
              text-align: left;
              text-decoration: none;
              color: $white_color;
              margin: 0 0 20px 10px;
              &:hover {
                text-shadow: 0.4px 0px 0.1px, -0.4px 0px 0.1px;
                color: $main_color05;
              }
            }
          }
          &.active .header-nav-el-wrapper {
            display: flex;
            animation: slideUp 0.4s ease forwards;
          }
        }
      }
      .top-header__search-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: $main_color02;
        width: 308px;
        height: 62px;
        button {
          all: unset;
          display: flex;
          margin: 0 15px 0 0;
          img {
            display: flex;
            width: 14px;
            height: 14px;
            object-fit: contain;
          }
        }
        input {
          all: unset;
          font-size: 16px;
          font-weight: 300;
          line-height: 19.36px;
          text-align: left;
          color: $white_color;
          width: 140px;
          &::placeholder {
            font-size: 16px;
            font-weight: 300;
            line-height: 19.36px;
            text-align: left;
            color: $white_color;
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .header {
    &-wrapper {
      &-bottom {
        padding: 0 0 0 20px;
      }
    }
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(-24px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
